{{ define "content" }}
<!-- Modal -->
<div class="modal fade" id="tableModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-20" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Select Table Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {{ range $val := .Data.meja }}
                    <div class="col-md-2 mb-2">
                        <button type="button" class="btn btn-outline-secondary btn-block" onclick="selectTableNumber('{{ $val }}')">{{ $val }}</button>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Product -->
<div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-20" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5 id="modalProductName"></h5>
                    <p id="modalProductPrice"></p>
                    <div class="form-group">
                        <label for="quantity" class="font-weight-bold">Quantity</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            </div>
                            <input type="text" class="form-control text-center" id="quantity" value="1" readonly>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notes" class="font-weight-bold">Notes</label>
                        <textarea class="form-control" id="notes" rows="3" placeholder="Add any notes..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addProductToList()">Add to Order</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Payment -->
<div class="modal fade" id="paymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-20" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">Payment Method</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-primary" onclick="showCashPayment()">Cash</button>
                    <button type="button" class="btn btn-info" onclick="showDigitalPayment()">Digital</button>
                </div>
                <div id="cashPayment" style="display:none; margin-top: 20px;">
                    <h5>Cash Payment</h5>
                    <div class="form-group">
                        <label for="receivedAmount">Amount Received:</label>
                        <input type="number" class="form-control" id="receivedAmount" onkeyup="doCashPayment()" placeholder="Enter amount received">
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <button style="width: 100%;" disabled type="button" class="btn btn-outline-primary m-1">
                                    Total: <span id="totalAmt"></span>
                                </button>
                            </div>

                            <div class="col-md-4">
                                <button style="width: 100%;" disabled type="button" class="btn btn-outline-success m-1">
                                    Paid: <span id="payAmt"></span>
                                </button>
                            </div>

                            <div class="col-md-4">
                                <button style="width: 100%;" disabled type="button" class="btn btn-outline-danger m-1">
                                    Change: <span id="changeAmt"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <button style="width: 100%;" type="button" class="btn btn-primary mt-2" onclick="doCashPaid()">Pay</button>
                    
                </div>


                <div id="digitalPayment" style="display:none; margin-top: 20px;">
                    <h5>Digital Payment</h5>
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method:</label>
                        <input type="text" class="form-control" id="paymentMethod" placeholder="Enter payment method">
                    </div>
                    <div class="form-group mt-2">
                        <label for="transactionCode">Transaction Code:</label>
                        <input type="text" class="form-control" id="transactionCode" placeholder="Enter transaction code">
                    </div>
                    <button style="width: 100%;" type="button" class="btn btn-info mt-2" onclick="doDigitalPaid()">Pay</button>
                </div>
            </div>
            <div class="modal-footer">
                <button style="width: 100%;" type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">
                    {{if .Error}}
                        <p class="text-danger">{{.Error | ucwords}}</p>
                    {{end}}
                    {{if .Msg}}
                        <p class="text-info">{{.Msg | ucwords}}</p>
                    {{end}}
                    <form action="/app/order" method="post">
                        {{.CSRFToken}}
                        <!-- input -->
                        <input required id="trxID" name="trxID" type="hiddens" value="{{ .Data.unique }}">
                        <input required id="dineType" name="dineType" type="hiddens">
                        <input id="nomorMeja" name="tableNumber" type="hiddens">
                        <input required id="productIDs" name="productIDs[]" type="hiddens">
                        <input required id="productNames" name="productNames[]" type="hiddens">
                        <input required id="productPrices" name="productPrices[]" type="hiddens">
                        <input required id="productQtys" name="productQtys[]" type="hiddens">
                        <input required id="productNotes" name="productNotes[]" type="hiddens">
                        <input required id="jumlahItems" name="jumlahItems" type="hiddens">
                        <input required id="tax" name="tax" type="hiddens">
                        <input required id="taxTotal" name="taxTotal" type="hiddens">
                        <input required id="totalPayment" name="totalPayment" type="hiddens">
                        <input required id="payMethod" name="payMethod" type="hiddens">
                        <input required id="changes" name="changes" type="hiddens">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold">Order List</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="padding-left: 10px;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                                                <th style="padding-left: 0px;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Qty</th>
                                                <th style="padding-left: 0px;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                                <th style="padding-left: 0px;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody id="orderList"></tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Items</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" id="totalItems">0</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" id="totalCost">Rp.0</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2">Tax (11%)</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" id="totalTax">Rp.0</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" colspan="2">Total Payment</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" id="totalPaymentDisplay">Rp.0</th>
                                                <th></th>
                                            </tr>

                                            <!-- paid -->
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Paid</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" id="paidMethod">Method</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" id="paidDisplay">Rp.0</th>
                                            </tr>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" colspan="2">Change</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder" id="changeDisplay">Rp.0</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
        
                                <div class="form-group">
                                    <button disabled id="payment" style="width: 100%;" type="button" class="btn btn-primary" onclick="doPayment()">
                                        <i class="ni ni-cart"></i> Payment
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dineType" class="font-weight-bold">Dine Type</label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button id="takeawayButton" type="button" class="btn btn-outline-primary" onclick="selectDineType('takeaway')">Take Away</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="dineInButton" type="button" class="btn btn-outline-primary" onclick="selectDineType('dinein')">Dine In</button>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label class="font-weight-bold">Products</label>
                                    <div class="row" id="productList">
                                        {{range .Data.products}}
                                            <div class="col-md-4">
                                                <!-- <button disabled type="button" class="btn btn-outline-primary m-1 product-button" onclick="addProduct('{{.ID}}', '{{.Name}}', '{{.Price}}')"> -->
                                                <button disabled type="button" class="product-button btn btn-outline-primary m-1" onclick="openProductModal('{{.ID}}', '{{.Name}}', '{{.Price}}')">
                                                    <img src="{{index .Photo 0}}?project={{index .Photo 3}}" alt="{{.Name}}" style="max-width: 100px;"><br>
                                                    {{.Name}}<br>
                                                    Rp.{{.Price | coma}}
                                                </button>
                                            </div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="paymentSection" style="display: none;">
                        <h5 class="font-weight-bold">Payment</h5>
                        <div class="form-group">
                            <label for="paymentMethod" class="font-weight-bold">Payment Method</label>
                            <select id="paymentMethod" required name="paymentMethod" class="form-control form-control-alternative">
                                <option value="cash">Cash</option>
                                <option value="card">Card</option>
                                <option value="digital">Digital Payment</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Confirm Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Receipt Content -->
<div id="printBon" style="display: none;">
    <h2 id="storeName">NAMA TOKO</h2>
    <p id="queueNumber">Nomor Antri</p>
    <p id="cashierInfo">Nama kasir - tanggal jam</p>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody id="receiptItems"></tbody>
    </table>
    <hr>
    <p id="totalItemsLabel">Total Items: 0</p>
    <p id="taxes">Tax (11%): RP.0</p>
    <p id="totalsPayment">Total Payment: RP.0</p>
    <p id="paidsMeth">Paid Method: RP.0</p>
    <p id="theChange">Change: RP.0</p>
    <hr>
    <p>Thank you</p>
    <p id="transactionRef">Kode Transaksi</p>
</div>
{{ end }}
