{{ define "content" }}
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">
                    {{if .Error}}
                        <p class="text-danger">{{.Error | ucwords}}</p>
                    {{end}}
                    {{if .Msg}}
                        <p class="text-info">{{.Msg | ucwords}}</p>
                    {{end}}
                    <form method="post" action="/app/store/update" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name" class="font-weight-bold">Name</label>
                            <input value="{{ with .Data.stores }}{{ .Name }}{{ end }}" required name="name" type="text" class="form-control form-control-alternative" placeholder="Enter store name">
                            {{.CSRFToken}}
                        </div>
                    
                        <div class="form-group">
                            <label for="city" class="font-weight-bold">City</label>
                            <input value="{{ with .Data.stores }}{{ if gt (len .Address) 0 }}{{ index .Address 0 }}{{ end }}{{ end }}" required name="city" type="text" class="form-control form-control-alternative" placeholder="Enter city">
                        </div>
                    
                        <div class="form-group">
                            <label for="address" class="font-weight-bold">Address</label>
                            <input value="{{ with .Data.stores }}{{ if gt (len .Address) 1 }}{{ index .Address 1 }}{{ end }}{{ end }}" required name="address" type="text" class="form-control form-control-alternative" placeholder="Enter address">
                        </div>
                    
                        <div class="form-group">
                            <label for="photo" class="font-weight-bold">Store Logo</label>
                            <input name="logo" type="file" class="form-control form-control-alternative" accept=".png, .jpeg, .jpg">
                        </div>
                    
                        {{ with .Data.stores }}
                        {{ if and .Logo (gt (len .Logo) 1) }}
                        <div class="form-group">
                            <label for="existingPhoto" class="font-weight-bold">Existing Store Logo</label>
                            <img src="{{ index .Logo 0 }}?project={{ index .Logo 3 }}" alt="{{ .Name }}" style="max-width: 100px;">
                        </div>
                        {{ end }}
                        {{ end }}
                    
                        <button type="submit" class="btn btn-primary">{{ if .Data.stores }}Update Store{{ else }}Create Store{{ end }}</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
