<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/assets/back/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/back/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="/assets/back/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>
<body class="bg-gray-100">
    <div class="main-content">
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <h1 class="text-white">404 Page Not Found</h1>
                            <p class="text-lead text-light">Sorry, the page you are looking for could not be found.</p>
                            <a href="/app/signin" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/assets/back/assets/js/core/popper.min.js"></script>
    <script src="/assets/back/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/back/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/back/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/back/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>
</html>
