{{ define "content" }}
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <!-- <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                    <h4>Add New Category</h4>
                </div>
            </div> -->
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">
                    {{if .Error}}
                        <p class="text-danger">{{.Error | ucwords}}</p>
                    {{end}}
                    {{if .Msg}}
                        <p class="text-info">{{.Msg | ucwords}}</p>
                    {{end}}
                    <form method="post" action="/app/package/update">
                        <div class="form-group">
                            <label for="name" class="font-weight-bold">Name</label>
                            <input value="{{ .Data.package.Name }}" required name="name" type="text" class="form-control form-control-alternative" placeholder="Enter package name" >
                            <input type="hidden" name="id" value="{{.Data.package.ID}}">
                            {{.CSRFToken}}
                        </div>

                        <div class="form-group">
                            <label for="price" class="font-weight-bold">Price</label>
                            <input value="{{ .Data.package.Price }}" required name="price" type="number" class="form-control form-control-alternative" placeholder="Enter package price" >
                        </div>

                        <div class="form-group">
                            <label for="merchant" class="font-weight-bold">Maximum Merchant</label>
                            <input value="{{ .Data.package.MerchantAvailable }}" required name="merchant" type="number" class="form-control form-control-alternative" placeholder="Enter maximun merchant " >
                        </div>

                        <div class="form-group">
                            <label for="cashier" class="font-weight-bold">Maximum Cashier</label>
                            <input value="{{ .Data.package.CashierAvailable }}" required name="cashier" type="number" class="form-control form-control-alternative" placeholder="Enter maximun cashir " >
                        </div>

                        <div class="form-group">
                            <label for="category" class="font-weight-bold">Maximum Category</label>
                            <input value="{{ .Data.package.CategoryAvailable }}" required name="category" type="number" class="form-control form-control-alternative" placeholder="Enter maximum category" >
                        </div>

                        <div class="form-group">
                            <label for="product" class="font-weight-bold">Maximum Product</label>
                            <input value="{{ .Data.package.ProductAvailable }}" required name="product" type="number" class="form-control form-control-alternative" placeholder="Enter maximum product" >
                        </div>

                        <div class="form-group">
                            <label for="table" class="font-weight-bold">Maximum Table</label>
                            <input value="{{ .Data.package.TableAvailable }}" required name="table" type="number" class="form-control form-control-alternative" placeholder="Enter maximum table" >
                        </div>

                        <div class="form-group">
                            <label for="desc" class="font-weight-bold">Package Description</label>
                            <textarea required name="desc" type="text" class="form-control form-control-alternative" placeholder="Enter package description">{{ .Data.package.Description }}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Update Category</button>
                        <a class="btn btn-danger" href="/app/package/remove/{{.Data.package.ID}}" onclick="return confirm('Are you sure you want to remove this package?');">Remove Package</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}