{{define "content"}}
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">
                    {{if .Error}}
                        <p class="text-danger">{{.Error | ucwords}}</p>
                    {{end}}
                    {{if .Msg}}
                        <p class="text-info">{{.Msg | ucwords}}</p>
                    {{end}}
                    <form method="post" action="/app/password" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="old" class="font-weight-bold">Old Password</label>
                            <input required name="old" type="password" class="form-control form-control-alternative" placeholder="Enter old password" >
                            {{.CSRFToken}}
                        </div>

                        <div class="form-group">
                            <label for="new" class="font-weight-bold">New Password</label>
                            <input required name="new" type="password" class="form-control form-control-alternative" placeholder="Enter new password">
                        </div>

                        <div class="form-group">
                            <label for="re" class="font-weight-bold">Re New Password</label>
                            <input required name="re" type="password" class="form-control form-control-alternative" placeholder="Enter new password">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
