{{ define "content" }}
<div class="row">
    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Package</p>
                            {{ with .Data.owner }}
                            {{ if .PackageName }}
                            <h5 class="font-weight-bolder">{{ .PackageName | ucwords }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-tag text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Max Merchant</p>
                            {{ with .Data.owner }}
                            {{ if (gt .MerchantAvailable 0) }}
                            <h5 class="font-weight-bolder">{{ .MerchantAvailable }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-collection text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Max Cashier</p>
                            {{ with .Data.owner }}
                            {{ if (gt .CashierAvailable 0) }}
                            <h5 class="font-weight-bolder">{{ .CashierAvailable }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-laptop text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Max Category</p>
                            {{ with .Data.owner }}
                            {{ if (gt .CategoryAvailable 0) }}
                            <h5 class="font-weight-bolder">{{ .CategoryAvailable }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-bullet-list-67 text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Max Product</p>
                            {{ with .Data.owner }}
                            {{ if (gt .ProductAvailable 0) }}
                            <h5 class="font-weight-bolder">{{ .ProductAvailable }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-collection text-sm opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-2 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Max Table</p>
                            {{ with .Data.owner }}
                            {{ if (gt .TableAvailable 0) }}
                            <h5 class="font-weight-bolder">{{ .TableAvailable }}</h5>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <!-- <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-dark shadow-dark text-center rounded-circle">
                            <i class="ni ni-collection text-sm opacity-10" aria-hidden="true"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            {{if .Error}}
                <p class="text-danger">{{.Error | ucwords}}</p>
            {{end}}
            {{if .Msg}}
                <p class="text-info">{{.Msg | ucwords}}</p>
            {{end}}

            <div class="row">
                <div class="col-md-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{.Data.packages.Name | ucwords}}</h5>

                            <table style="width: 100%;">
                                <tr>
                                    <td><p class="card-text">Price</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">Rp.{{.Data.packages.Price | coma}}</p></td>
                                </tr>
                                <tr>
                                    <td><p class="card-text">Merchant</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">{{.Data.packages.MerchantAvailable}}</p></td>
                                </tr>
                                <tr>
                                    <td><p class="card-text">Cashier</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">{{.Data.packages.CashierAvailable}}</p></td>
                                </tr>
                                <tr>
                                    <td><p class="card-text">Category</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">{{.Data.packages.CategoryAvailable}}</p></td>
                                </tr>
                                <tr>
                                    <td><p class="card-text">Product</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">{{.Data.packages.ProductAvailable}}</p></td>
                                </tr>
                                <tr>
                                    <td><p class="card-text">Table</p></td>
                                    <td><p class="card-text">:</p></td>
                                    <td><p class="card-text">{{.Data.packages.TableAvailable}}</p></td>
                                </tr>
                            </table>

                            <p class="card-text"><b>Description:</b> <br>{{.Data.packages.Description}}</p>

                            <p class="card-text">
                                <b>Price:</b> <br>
                                <ul>
                                    <li>Tax : {{.Data.tax}}%</li>
                                    <li>Trx Fee : Rp.{{.Data.fee | coma}}</li>
                                    <li>Service Fee : {{.Data.admin}}%</li>
                                </ul>
                            </p>

                            <p class="card-text">
                                <b>Count:</b> <br>
                                <ul>
                                    <li>Tax Amount : Rp.{{.Data.taxAmount | coma}}</li>
                                    <li>Fee Amount : Rp.{{.Data.adminAmount | coma}}</li>
                                    <li><b>Total : Rp.{{.Data.totalPrice | coma}}</b></li>
                                </ul>
                            </p>

                            <div class="mt-4">
                                <a style="width: 100%;" target="_blank" class="btn btn-primary" href="{{ .Data.paymentURL }}">
                                    <i class="ni ni-cart"></i> Buy Rp.{{.Data.totalPrice | coma}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
