<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                    <h4>Add New Product</h4>
                </div>
            </div>
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">

                    <% if (typeof error !== 'undefined') { %>
                        <p class="text-danger"><%= error %></p>
                    <% } %>

                    <% if (typeof msg !== 'undefined') { %>
                        <p class="text-info"><%= msg %></p>
                    <% } %>
                    <form method="post" action="/back/product/save" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productName" class="font-weight-bold">Name</label>
                            <input required name="productName" type="text" class="form-control form-control-alternative" placeholder="Enter product name" >
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </div>

                        <div class="form-group">
                            <label for="category" class="font-weight-bold">Category</label>
                            <select required name="category" class="form-control form-control-alternative">
                                <% categoryList.documents.forEach(function(category) { %>
                                    <option value="<%= category.$id %>"><%= category.name.replace(/\b\w/g, char => char.toUpperCase()) %></option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="productPrice" class="font-weight-bold">Price</label>
                            <input required name="productPrice" type="number" class="form-control form-control-alternative" placeholder="Enter price" >
                        </div>

                        <div class="form-group">
                            <label for="productPhoto" class="font-weight-bold">Image/Photo</label>
                            <input required name="productPhoto" type="file" class="form-control form-control-alternative" accept=".jpeg, .jpg, .png">
                        </div>

                        <button type="submit" class="btn btn-primary">Add New Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
