{{define "content"}}
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                    <h4>Product List</h4>
                    <a href="/app/product/add" class="btn btn-primary">Add New Product</a>
                </div>
            </div>
            <div class="ct-example" style="position: relative; border: 2px solid #f5f7ff !important; border-bottom: none !important; padding: 1rem;">
                <div class="p-4" style="background-color: #f8f9fa;">
                    {{if .Error}}
                        <p class="text-danger">{{.Error}}</p>
                    {{end}}
                    {{if .Msg}}
                        <p class="text-info">{{.Msg}}</p>
                    {{end}}
                    <form method="post" action="/app/product/add" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name" class="font-weight-bold">Product Name</label>
                            <input required name="name" type="text" class="form-control form-control-alternative" placeholder="Enter product name" >
                            {{.CSRFToken}}
                        </div>

                        <div class="form-group">
                            <label for="category" class="font-weight-bold">Category</label>
                            <select required name="category" type="text" class="form-control form-control-alternative">
                                {{range .Data.categories}}
                                <option value="{{.ID}}">{{.Name | ucwords}}</option>
                                {{end}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="price" class="font-weight-bold">Product Price</label>
                            <input required name="price" type="number" class="form-control form-control-alternative" placeholder="Enter price">
                        </div>

                        <div class="form-group">
                            <label for="photo" class="font-weight-bold">Photo Product</label>
                            <input required name="photo" type="file" class="form-control form-control-alternative" accept=".png, .jpeg, .jpg">
                        </div>
                        <button type="submit" class="btn btn-primary">Add New Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
